.signup{
    display:flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    vertical-align: middle;
    align-content: center;
    color: rgb(6, 12, 100);
    width: 400px;
    margin: 12vh auto;
    padding: 20px;
    border: 2px solid rgb(6, 12, 100);
    background-color:rgb(228, 223, 248);
}
.register{
    text-align: center;
    color: rgb(6, 12, 100);
}

.signup h1{
    text-align: center;
    color:rgb(6, 12, 100) ;
}

.signup input{
    margin-top: 20px;
    border-radius: 5px;
    line-height: 2em;
    width: 300px;
    border-bottom: 1px solid ;
    border: 2px solid rgb(6, 12, 100);
    font-size: large;
}

.signup input:focus{
    outline: none ;
    border: 2px solid rgb(6, 12, 100);
}


.signup button{
    display: block;
    color:white;
    outline:rgb(101, 101, 224) solid 2px;
    border:none;
    height: 25px;
    width: 80px;
    padding: 5px;
    background-color: rgb(6, 12, 100);
    width: 180px;
    margin: 0 auto;
    font-size: medium;
    height: 2rem;
    margin-top: 20px;
}

.signup button:hover{
    background-color:rgb(41, 39, 180);
    color: white;
    box-shadow: 0 0 10px midnightblue;
}

.errorText{
    color:rgb(6, 12, 100);
    font-size:small;
    font-family: monospace;
}

.signupLink{
    display:inline-block;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
    color:rgb(39, 0, 130);
     text-align: right;
    font-weight:bold;
}